<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ptbr">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta charset="UTF-8">
    <title>IPedro</title>
</head>
<body>
    <form method="post">
        <label for="ip">Ip:</label>
        <input id="ip" name="ip" style="border: 2px solid black;">
        <label for="cidr">Cidr:</label>
        <input id="cidr" name="cidr" style="border: 2px solid black;">
        <input type="submit" value="Enviar" style="border: 2px solid black;">
    </form>
    <br>
    <h4>Dados:</h4>
    <p th:text="${adress.ip}"></p>
    <p th:text="${adress.cidr}"></p>
    <p th:text="${adress.ipBin}"></p>
    <p th:text="${adress.mask}"></p>
    <p th:text="${adress.maskBin}"></p>
    <p th:text="${adress.inMask}"></p>
    <p th:text="${adress.inMaskBin}"></p>
    <p th:text="${adress.id}"></p>
    <p th:text="${adress.idBin}"></p>
    <p th:text="${adress.broadcast}"></p>
    <p th:text="${adress.broadcastBin}"></p>
</body>
</html>