<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ptbr">
<head>
    <meta charset="UTF-8">
    <title>IPedro</title>
</head>
<body>
    <form method="post">
        <label for="ip">Ip:</label>
        <input id="ip" name="ip">
        <label for="cidr">Cidr:</label>
        <input id="cidr" name="cidr">
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <h4>Dados salvo:</h4>
    <p th:text="${adress.ip}"></p>
    <p th:text="${adress.cidr}"></p>
    <p th:text="${adress.ipBin}"></p>
    <p th:text="${adress.mask}"></p>
    <p th:text="${adress.maskBin}"></p>
</body>
</html>